  .btn_remove{
    width: 38px;
    background-color: lightcoral;
    text-align: center;
    border-radius: 90pt;
  }
  .btn-add{
    width: 80px;
    text-align: center;
    margin: 12px;
  }
  .row_list{
    padding: 10px;
    font-size: 22px;
    font-family:  'Gill Sans MT';
    margin-top: 4px;
    word-break: break-word; 
    background-color: rgb(218, 218, 218);
    border-radius: 10pt;
    border: solid rgb(156, 140, 138) 2px;
  }
  .input{
   width: auto;
   justify-content: center;
   justify-self: center;
   margin: 12px;

  }
  #input-text{
    width: 200px;
  }
  #add{
    justify-content: center;
  }
  #page{
    justify-items: center;
    
  }
  #to-do-input{
width:inherit;

  }

  
 