.col-lg {
    font-size: 20px;
    font-family: fantasy;
    margin: 10px;
 
  }
  .btn{
    size-adjust: 1px;
    width: 12px;
  }
  .row_list{
    margin-top: 4px;
    height: min-content;
    display: inline-block; 
    word-break: break-word; 
    table-layout:fixed; 
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(218, 218, 218);
    border-radius: 10pt;
    border: solid rgb(156, 140, 138) 2px;
  }

  .input {
    display: flex;
    justify-content: center;
    justify-self: center;
  }
  .list {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 22px;
  }