.input {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: larger;
  }
  .list {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 100px;
    font-size: 22px;
  }