.title {
  display: flex;
justify-self: center;
justify-content: center;
width: max-content;
padding-left: 40px;
padding-right: 40px;
margin-top: 4px;
box-sizing: border-box;
border-bottom: salmon solid;
border-width: 2px;

}

.as{
  display: grid;
  justify-content: center;
}
.cont{
  border: solid salmon;
  width:8px;
  
}